    #fundoindex{
        background-image: radial-gradient(transparent, #4c2b63),linear-gradient(to bottom,transparent, #4c2b63),url("../assets/images/branquin.png");
        padding: 25px;
        background-repeat: no-repeat;
        background-size: auto;
    }

    .ui.button{
        background-color: #4C2C63;
    }

    .hidden.menu {
        display: none;
    }
    .masthead.segment {
        padding-top: 1em;
        min-height: 500px;
    }
    .masthead .logo.item img {
        margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
        margin-left: 0.5em !important;
    }
    .masthead h1.ui.header {
        margin-top: 15%;
        margin-bottom: 0em;
        font-size: 4em;
        font-weight: normal;
    }
    .masthead h2 {
        font-size: 1.7em;
        font-weight: normal;
    }
    .ui.vertical.stripe {
        padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
        font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
        margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
        clear: both;
    }
    .ui.vertical.stripe p {
        font-size: 1.33em;
    }
    .ui.vertical.stripe button {
        width: 20em;
        height: 5em;
    }
    .ui.vertical.stripe .horizontal.divider {
        margin: 3em 0em;
    }
    .quote.stripe.segment {
        padding: 0em;
    }
    .quote.stripe.segment .grid .column {
        padding-top: 5em;
        padding-bottom: 5em;
    }
    .footer.segment {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .secondary.pointing.menu .toc.item {
        display: none;
    }
    .link {
        color: black;
    }
    .ui.inverted.vertical.masthead.center.aligned.segment {
        background-color: #4C2C63;
    }
    .ui.inverted.vertical.footer.segment {
        background-color: #4C2C63;
    }
    .center.aligned.row {
        padding-top:0.25%;
        text-align: center;
        background-color:#fff;
        margin-top: 20px;
    }

    @media only screen and (max-width: 700px) {
        .ui.fixed.menu {
            display: none !important;
        }
        .secondary.pointing.menu .item,
        .secondary.pointing.menu .menu {
            display: none;
        }
        .secondary.pointing.menu .toc.item {
            display: block;
        }
        .masthead.segment {
            min-height: 350px;
        }
        .masthead h1.ui.header {
            font-size: 2em;
            margin-top: 1.5em;
        }
            .masthead h2 {
            margin-top: 0.5em;
            font-size: 1.5em;
        }
    }




l{
    color: #FFFFF0;
    background-color:#4C2C63;
}
.ui.vertically.divided.grid{
    color: #000000;

}
.ui.vertically.divided.grid div {
    background-color: #FFFFF0;
    border-radius:5px;
    padding:15px;
    border: 3px grey;
}

.ui.vertically.divided.grid img{
    width: 15%;
    height: auto;
}

.ui.medium.circular.image{
    width: 40px;
    height:40px;
}

#lforum a{
    text-decoration: none;
    color: black;
}

#lforum a:hover{
    color: #4C2C63;
}

#but {
    display:inline;
    text-align:center;

}

#but img{
    display:inline-block;
    width:25%;
}

#but li{
    list-style:none;

}


#but button:active {
    color:white;
    background-color: black;
    transform: translateY(5px);
}


#chat a{

    border-radius:5px;
}

#conteudo{
    background-color: white;
    padding-top:15px;
    padding-bottom:15px;
    padding-right:20%;
    padding-left:20%;
    border: 3px solid;

}

#tela{
    margin-top: 30px;
    border: 2px solid #4C2C63;
    border-radius: 1.5%;
    color: black;
}

#tela h3{
    margin-top: 10px;

}

#fakechat{

    font-size: 150%;
    background-color: white;

    text-align:center;
    padding:0px;
    list-style:none;
}

#fakechat ul{
    width: 100%;
}

#vai{
    margin-left:20%;
}

#vai, #vol{
    margin-top: 0.5%;
    background-color: #4C2C63;
    color:#ffffff;
    width:80%;
    border-radius:10px;
    border:1px ridge;
}



#vai h6{
    background-color: #4C2C63;
    color:#ffffff;
    text-align:right;
    padding-right:15px;
}


#vol h6{
    background-color: #4C2C63;
    color:#ffffff;
    text-align:left;
    padding-left:15px
}

#vol img{
    padding:5px;
    width:5%;
    text-align:left

}

#barra{
    text-align:center;
}

#barra input{
    width:80%
}
#barra button{
    width:19%;

}

#barra textarea{
    padding-left: 60%;
    border-radius: 5%;
}

#bgforum{
    padding:5% ;
    list-style:none;
    color:black;
}
#poster{
  color: white;
    border-radius:20px;
    /*text-align: block;*/
    margin-left: 10%;
    margin-right: 10%;
    padding:1px 20px 1px 20px;
}
#branco{
  color: white;
}
#nome{
    color: #000;

}

#outset{
  border:1px white solid;
  border-radius:20px;
  background-color: #301742;
  margin: 0 2%;
}
#post{
  background-color: white;
  margin: 2% 20% 0 20%;
  padding: 1% 2%;
  border-radius:8px;

}

#titulo{
    border-radius: 12px;
    width:50%;
    align-items: center;
    height:40px;
}
#texto{
    text-align: initial;
    border-radius: 12px;
    width:50%;

    height:150px;
}
#comentarios{
    color: white;
}

#lforum{
    background-color: white;


}
#forum{
    list-style: none;

    min-height:10px;

    width:60%;
    background-color: white;
    border:3px black ridge;
    border-radius:5px;

}

#perf{
    list-style:none;
    text-decoration: underline;

    text-align:left;
}

#preenche{
    text-indent:2em ;
    list-style:none;
    text-align:left;
}

#lermais{

    text-align-last: end;
    padding: 10px;
    font-style: italic;
    font-size: 20px;
    text-decoration:underline;
}

#espaco{
    width: 30px;
}

#tela hr{
    border-width: 200%;
    border-color: #4C2C63;
}
#comment{
  background-color: #e0e0e0;

  border-radius:8px;

}


#idcom{
       text-decoration: underline;
       font-size: 200%;
       border-radius: 20px;
       width:20%;

}
#textin{
    margin-bottom: 0px;
    text-decoration: unset;
}
#contcom{
   border-radius: 20px;
   width:98%;
}

#comake{
    margin: 0 2% 0 2%;

}

.ui.form{
    margin-bottom: 10px;
}

.ui.form input{
    height: 35px;
    border-radius: 5px;
}

#rolagem{
    height: 370px;
    overflow: auto;
}


#corpo_formulario{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 200px;
}

#ui_segment_perfil{
    border: 1px solid;
    border-color: #4C2C63;

}

#allchat{
    border:1px white solid;
  border-radius:20px;
  background-color: #301742;
    padding-top:1.5%;
}
#usulist{
    padding: 1rem;
}



/*CHAT*/

        #mensagens{
            width: 100%;
            background-color: white;
            height: 560px;
            overflow: auto;        
        }

        #psicologos, #usuarios{
            height: 490px;
            overflow: auto;
        }

        #enviada{
            text-align: left;
            color: white;
            background: #301742;
            border:1px black solid;
            border-radius: 2px;
            margin-left: 2px;
            margin-right: 20px;
            min-width: 10%;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            word-wrap: break-word;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        #recebida{
            text-align: right;
            color: white;
            border:1px white solid;
            background: #4c2c63;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            margin-left: 20px;
            margin-right: 2px;
            word-wrap: break-word;
            margin-bottom: 10px;
            margin-top:1px;
        }

        #chat{
            background-color: #301742;
            padding-top:1px;
            padding-bottom:1px;
   
        }

        .ui.unstackable.table{
            padding: 0px;
            height: 500px;
            width:401px;
        }
        #psicologos{
            text-align: intial;
        }
        #coluna{
           width:61%;
           margin: 0px;
           padding: 0px;
        }
        #formulario_mensagem{
            padding: 0 1%;
            height: 100%;            
        }